
.filterGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 24px;
  overflow-y: auto;
}

.filterOption {
  display: flex;
  padding: 16px;
  align-items: center;
  gap: 12px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid #CFDEE8;
  background: #F7FAFC;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.elementName {
  color: #0D171C;
  font-feature-settings: 'dlig' on;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px; /* 153.846% */
}

.selectedValue {
  color: #4D8099;
  font-feature-settings: 'dlig' on;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}
